body {
    font-family: "Montserrat", sans-serif;
}
.container {
    max-width: 1920px;
    margin: 0 auto;
}
.btn {
    display: inline-block;
    color: #fff;
    padding: 25px 80px;
    background-color: #00a6e4;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.05em;
    transition: all 0.3s;
    border: none;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
}
.btn:hover {
    text-decoration: none;
    background-color: #016a91;
    color: #fff;
}
h2 {
    font-family: "Gotham Pro";
    font-weight: 400;
    font-size: 80px;
    line-height: 120%;
}
.border-text {
    font-size: 18px;
    line-height: 160%;
    border-left: 2px solid #000;
    padding-left: 30px;
}
.border-text p:last-child {
    margin: 0;
}

/* header */
header .top {
    display: flex;
    justify-content: space-between;
    margin: 21px 0 20px 0;
}
header .top p {
    margin-left: 358px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 17px;
}
header .top a {
    color: #1a1a1a;
}
header .contacts {
    display: flex;
    gap: 30px;
    font-size: 16px;
    line-height: 20px;
}
header .contacts img {
    margin-left: 50px;
}
header .language a:first-child,
header .top .call {
    color: #0670eb;
}
header .language a:first-child,
header .language {
    letter-spacing: 0.05em;
}
header .language {
    margin-right: 100px;
}
header .language a:last-child {
    color: #808080;
    border-left: 1px solid #808080;
    padding-left: 5px;
}
header .bottom {
    display: flex;
    gap: 50px;
}
header .bottom .nav_logo {
    padding-left: 100px;
}
header nav {
    background-color: #00a6e4;
    width: 100%;
    display: flex;
}
header nav a {
    color: #fff;
    padding: 21px 30px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    transition: all 0.3s;
}
header nav a:last-child {
    margin-left: 202px;
    font-weight: 600;
}
header nav a:first-child {
    background-color: #016a91;
    padding: 21px 40px;
}
header nav a:hover {
    text-decoration: none;
    color: #fff;
    background-color: #016a91;
}
header nav .img-catalog {
    margin-left: 20px;
}
header nav .img-cart {
    margin-right: 15px;
    width: 29px;
    height: 24px;
}

/* main */

section.main .container {
    background-image: url(../img/AtLine_poster.png);
    text-transform: uppercase;
    height: 674px;
}
section.main .promo {
    max-width: 592px;
    margin-left: 200px;
    padding-top: 72px;
}
section.main h1 {
    font-family: "Gotham Pro";
    font-weight: 700;
    font-size: 80px;
    line-height: 120%;
    margin-bottom: 20px;
}
section.main h2 {
    font-family: "Gotham Pro";
    font-weight: 900;
    font-size: 40px;
    line-height: 38px;
    color: #016a90;
    margin-bottom: 5px;
}
section.main p {
    text-transform: none;
    font-size: 20px;
    line-height: 150%;
    margin-bottom: 30px;
}
section.main .img-arrow {
    width: 35px;
    height: 13px;
    margin-left: 20px;
}

/* main-info */
section.main-info {
    position: relative;
    top: -32px;
}
section.main-info .container_2 {
    width: 1330px;
    margin-left: 200px;
}
section.main-info .info {
    display: flex;
    gap: 120px;
}
section.main-info .right {
    display: flex;
    flex-wrap: wrap;
    gap: 52px 70px;
}
section.main-info h2 {
    margin-bottom: 40px;
}
section.main-info h3 {
    font-family: "Gotham Pro";
    font-weight: 400;
    font-size: 60px;
    line-height: 57px;
    color: #016a90;
    margin-bottom: 10px;
}
section.main-info .left .border-text {
    width: 448px;
    margin-left: 190px;
}
section.main-info .right p {
    font-size: 16px;
    line-height: 150%;
    margin: 0;
}
section.main-info .indicator {
    width: 250px;
}

/* products */

section.products .container {
    background-image: url(../img/products.png);
    background-repeat: no-repeat;
    padding-top: 118px;
    padding-bottom: 80px;
}
section.products h2 {
    margin-bottom: 40px;
}
section.products .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1330px;
    margin-left: 200px;
}
section.products .slider {
    display: flex;
    gap: 28px;
    justify-content: center;
    margin-bottom: 40px;
}
section.products .slider .category_1 {
    background-image: url(../img/category_1.png);
}
section.products .slider .category_2 {
    background-image: url(../img/category_2.png);
}
section.products .slider .category_3 {
    background-image: url(../img/category_3.png);
}
section.products .slider a {
    display: flex;
    align-items: flex-end;
    color: #fff;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
    transition: all 0.2s;
}
section.products .slider a:hover {
    text-decoration: none;
    transform: scale(1.05);
}
section.products .slider .item {
    width: 600px;
    height: 400px;
    padding: 0 30px 20px 30px;
}
section.products .slider .left {
    padding-left: 290px;
}
section.products .bottom {
    display: flex;
    gap: 261px;
}
section.products .left .border-text {
    width: 697px;
    margin-left: 390px;
}

/* production */

section.production .container {
    display: flex;
    gap: 80px;
    padding-left: 100px;
    margin-bottom: 80px;
}
section.production h2 {
    margin-bottom: 40px;
    position: relative;
    left: -285px;
}
section.production .border-text {
    width: 538px;
    margin-bottom: 60px;
    position: relative;
    left: -80px;
}
section.production h3 {
    font-family: "Gotham Pro";
    font-weight: 400;
    font-size: 60px;
    line-height: 57px;
    color: #016a90;
    margin-bottom: 10px;
}
section.production .right p {
    font-size: 16px;
    line-height: 150%;
}
section.production .indicator {
    width: 250px;
}
section.production .box {
    display: flex;
    flex-direction: column;
    gap: 65px;
}
section.production .indicator p {
    margin: 0;
}

/* map */
section.map {
    margin-bottom: 40px;
}
section.map .title {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-bottom: 30px;
    padding-left: 200px;
}
section.map .title h2 {
    margin: 0;
}

/* contact-us */

section.contact-us .container {
    display: flex;
    gap: 120px;
}
section.contact-us h2 {
    margin-bottom: 30px;
    position: relative;
    left: -190px;
}
section.contact-us .border-text {
    margin-bottom: 50px;
}
section.contact-us form {
    width: 400px;
}
section.contact-us input {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
    padding-bottom: 5px;
    outline: none;
}
section.contact-us input:focus {
    border-color: #00aeef;
}
section.contact-us button {
    width: 100%;
}

/* footer */

footer .container {
    background-color: #016a90;
    display: flex;
    justify-content: space-between;
    padding: 50px 100px;
}
footer .container div:nth-child(2) nav {
    column-count: calc(2);
}

footer a,
footer p {
    display: block;
    font-size: 14px;
    line-height: 140%;
    margin-bottom: 8px;
}
footer a,
footer p,
footer h4 {
    color: #fff;
}
footer h4 {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-bottom: 15px;
}
footer .social_networks {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
footer .logo {
    margin-bottom: 20px;
}
footer a:hover {
    color: #8de1ff;
    text-decoration: none;
}
